#skip-to-main {
  display: none;
}

body {
  font-family: Arial, Verdana;
  margin: 20px 20px 0 20px;
}

h1 {
  font-size: 42px;
  text-align: center;
  padding: 15px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 24px;
  padding-top: 10px;
  padding-left: 10px;
}

img {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  border: 10px dashed #ffffff;
}

div {
  min-height: 125px;
  padding: 20px;
  border: 3px solid #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline;
  margin-right: 20px;
}

ul a {
  text-decoration: none;
  color: #333;
}

ul a.current {
  font-weight: bold;
}

@media (min-width: 768px) {
  #skip-to-main {
    display: block;
  }
}
